doctype html
html(lang='en')
    head
        title Loox
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='/css/main.css')
        script.
            var expand = (elm) => {
                var parent = elm.parentNode,
                    p = parent.childNodes[1],
                    span = parent.childNodes[2];
                p.classList.toggle("show");
                span.classList.toggle("show");
            }
    body
        -
            const animals = data
            //const animal = dog

        .wrapper
            //h4 #{dog.img}
            //.header
                p header
            .main
                .content
                    //img(src=animal.img)
                    img(src=d_img)
                    .text
                        h4 #{d_name}
                        p #{d_txt}
                        span(onclick='expand(this)')
                ol
                    //each el in animals
                    - for(var i = 0; i < length; i++) {
                    li
                        a(href='/dog/' + animals[i].id)
                            img(src=animals[i].img)
                            h4 #{animals[i].name}
                    - }

            //.footer
                p footer
        //script(src='/js/main.js')
